{#- Design Document Markdown report template -#}
# Low Level Design Document for New Campus {{ pld['location' }}

{{ pld }}


## 1. Introduction
### 1.1 Purpose
### 1.2 Scope
### 1.3 Audience
### 1.4 References

## 2. Network Overview
### 2.1 Network Topology
![Example High Level Network Design](../images/sample_high_level_design.jpg)
### 2.2 IP Addressing Scheme
### 2.3 VLAN Design

## 3. Physical Infrastructure
### 3.1 Hardware Inventory
### 3.2 Rack Layouts
### 3.3 Cabling Plan

## 4. Network Components
### 4.1 Core Switches
### 4.2 Distribution Switches
### 4.3 Access Switches
### 4.4 Routers
### 4.5 Firewalls
### 4.6 Load Balancers
### 4.7 Wireless Access Points

## 5. Routing and Switching
### 5.1 Layer 2 Configuration
### 5.2 Layer 3 Configuration
### 5.3 Routing Protocols
### 5.4 VLAN Configuration

## 6. Security
### 6.1 Firewall Rules
### 6.2 Access Control Lists (ACLs)
### 6.3 VPN Configuration
### 6.4 Network Access Control

## 7. Network Services
### 7.1 DHCP Configuration
### 7.2 DNS Configuration
### 7.3 NTP Configuration
### 7.4 SNMP Configuration

## 8. WAN and Internet Connectivity
### 8.1 ISP Details
### 8.2 WAN Link Configuration
### 8.3 BGP Configuration

## 9. Quality of Service (QoS)
### 9.1 QoS Policies
### 9.2 Traffic Classification
### 9.3 Queuing and Scheduling

## 10. Monitoring and Management
### 10.1 Network Management Systems
### 10.2 Logging and SYSLOG Configuration
### 10.3 Performance Monitoring

## 11. Disaster Recovery and High Availability
### 11.1 Redundancy Design
### 11.2 Failover Mechanisms
### 11.3 Backup and Recovery Procedures

## 12. Implementation Plan
### 12.1 Migration Strategy
### 12.2 Testing Procedures
### 12.3 Rollback Plan

## 13. Appendices
### 13.1 IP Address Allocation Table
### 13.2 VLAN Table
### 13.3 Device Configuration Templates
### 13.4 Network Diagrams