{# base_switch_config_include.j2 #}
hostname {{ hostname }}

vlan {{ user_vlan }}
 name USER_VLAN

{% block user_interface %}
{# This block will be filled by including the user interface template #}
{% endblock %}

{% block tacacs_config %}
{# This block will be filled by including the TACACS template #}
{% endblock %}