{# user_interface_config.j2 #}
{% extends "base_switch_config.j2" %}

{% block user_interface %}
interface {{ user_interface }}
 description User Access Port
 switchport mode access
 switchport access vlan {{ user_vlan }}
 spanning-tree portfast
 spanning-tree bpduguard enable
{% endblock %}