! Test Jinja2 Builtin and Custom Tests



! Is the variable defined
{% if val is defined %}
    {{ val }} is DEFINED
{% else %}
    {{ val }} is NOT DEFINED
{% endif %}



! Is an Interface A User Interface {{ val }}
{% if val is usr_intf %}
    {{ val }} is a USER Interface/Port
{% else %}
    {{ val }} is NOT A USER Interface/Port
{% endif %}