{{ payload['location'] }} STP Verification Report for VLAN {{ payload['vlan_id'] }} Generated: {{ payload['timestamp'] }}
{{ payload['header_summary'] }}

{{ payload['vlan_cfg'] }}

{{ payload['stp_root'] }}