!
! Base Configuration Template
!
hostname {{ hostname }}
!
{# AAA Configuration Block #}
{% block aaa %}
{% endblock %}
!
{# Interface Configuration Block #}
{% block interfaces %}
{% endblock %}
!
{# OSPF Configuration Block #}
{% block ospf %}
{% endblock %}
!
end