=== Standard Change Request for new vlan {{ cfg['new_vlan'] }} at {{ cfg['location'] }}

{% if cfg['route'] %}
Requesting new vlan {{ cfg['new_vlan'] }} be configured and routed on device {{ cfg['gateway_device'] }}.
Route subnet {{ cfg['subnet_cidr'] }}
Please create SVI with IP {{ cfg['svi_ip']}}
{% else %}
Requesting new Layer 2 only vlan {{ cfg['new_vlan'] }} be configured on device {{ cfg['gateway_device'] }}.
{% endif %}

Vlan name: {{ cfg['vlan_name'] }}

Requesting completion by: {{ cfg['requested_by_date'] }}